<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos esenciales para VR -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Características de hardware requeridas -->
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:version="1"
        android:required="true" />
    <uses-feature
        android:name="android.software.vr.mode"
        android:required="false" />
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />

    <!-- Características específicas para Quest -->
    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:version="0"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:version="0x401000"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true"
        tools:targetApi="34">

        <!-- METADATOS PARA OPENXR -->
        <meta-data android:name="com.oculus.supportedDevices" android:value="quest2|quest3|questpro" />
        <meta-data android:name="com.oculus.intent.category.VR" android:value="vr_only" />
        <meta-data android:name="com.oculus.vr.focusaware" android:value="true" />

        <!-- Metadatos específicos para OpenXR -->
        <meta-data android:name="com.oculus.application.mode" android:value="vr" />

        <!-- Especificar que queremos usar OpenXR -->
        <meta-data android:name="com.oculus.vr.runtime" android:value="openxr" />

        <!-- Configuraciones de tracking -->
        <meta-data android:name="com.oculus.handtracking.supported" android:value="false" />
        <meta-data android:name="com.oculus.handtracking.version" android:value="V2.0" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize|uiMode|density"
            android:resizeableActivity="false">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD" />
            </intent-filter>
        </activity>
    </application>
</manifest>